* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #3e90cc;
}

body {
  background-color: #d1d5db;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #3e90cc;
}

body {
  background-color: #d1d5db;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #3e90cc;
}

body {
  background-color: #d1d5db;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes hamberger-rise {
  50% {
    transform: translateY(1vh);
  }
}
@keyframes hamberger-fall {
  50% {
    transform: translateY(-1vh);
  }
}
main.head header.header {
  position: fixed;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 86px;
  width: 100%;
  z-index: 2;
  background-color: #363c45;
}
main.head header.header .nav-hamberger {
  position: fixed;
  height: 8vh;
  width: 8vh;
  left: 1vh;
  top: 1.4vh;
  cursor: pointer;
}
main.head header.header .nav-hamberger-icon {
  position: fixed;
  left: 1vh;
  top: 4.8vh;
  height: 4px;
  width: 8vh;
  background-color: #929a9f;
}
main.head header.header .nav-hamberger-icon::before {
  content: "";
  position: fixed;
  left: 1vh;
  top: 2vh;
  height: 4px;
  width: 8vh;
  background-color: #929a9f;
  transition: all 0.3s ease-in-out;
}
main.head header.header .nav-hamberger-icon::after {
  content: "";
  position: fixed;
  left: 1vh;
  top: 8vh;
  height: 4px;
  width: 8vh;
  background-color: #929a9f;
  transition: all 0.3s ease-in-out;
}
main.head header.header .nav-hamberger-icon.open::before {
  animation-name: hamberger-fall;
  animation-duration: 0.45s;
}
main.head header.header .nav-hamberger-icon.open::after {
  animation-name: hamberger-rise;
  animation-duration: 0.45s;
}
main.head header.header .nav-hamberger-icon.close::before {
  position: fixed;
  animation-name: hamberger-rise;
  animation-duration: 0.45s;
}
main.head header.header .nav-hamberger-icon.close::after {
  animation-name: hamberger-fall;
  animation-duration: 0.45s;
}
main.head header.header .title {
  font-size: 1.2rem;
  align-self: center;
  cursor: default;
}
main.head .nav {
  position: relative;
  height: 385px;
  width: 100%;
  background-color: #3e90cc;
}
main.head .nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  list-style: none;
  height: 100%;
  width: 100%;
  padding: 1rem 0 1rem 0;
}
main.head .nav-items .nav-item {
  color: #a8adb1;
  font-size: 2.8rem;
  text-transform: uppercase;
  align-content: center;
}
main.head .nav-items .nav-item::after {
  content: "";
  display: block;
  position: relative;
  width: 0%;
  height: 3px;
  bottom: -3px;
  background-color: #a8adb1;
  transition-property: left, right;
  transition: all 0.2s ease-in-out;
}
main.head .nav-items .nav-item:hover::after {
  width: 100%;
  transition: all 0.2s ease-in-out;
}
main.head .nav.initial {
  position: fixed;
  top: -299px;
  z-index: 1;
  transition: all 0.45s ease-in-out;
}
main.head .nav.final {
  position: fixed;
  top: 86px;
  z-index: 1;
  transition: all 0.45s ease-in-out;
}
main.head .nav a {
  text-decoration: none;
}

section.content {
  font-family: "lora";
  position: relative;
  width: 100%;
  top: 86px;
  z-index: 0;
}
section.content h1.title {
  font-size: 2.5rem;
  padding: 4vh 4vw 0 4vw;
}
section.content .intro {
  font-size: 1.4rem;
  padding: 2vh 4.5vw 0 4.5vw;
}
section.content .social {
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.content .social a #github {
  fill: #3e90cc;
}
section.content .social a #instagram {
  fill: #3e90cc;
}
section.content .social a #twitter {
  fill: #3e90cc;
}

.hi-icon-wrap {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 3em;
}

.hi-icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 15px 30px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
}
.hi-icon svg path {
  fill: none;
  stroke: #b6d7ee;
  stroke-width: 0px;
  stroke-linejoin: round;
  transition: stroke-width 0.2s;
}

.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.hi-icon:before {
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

/* Effect 9 */
.hi-icon-effect-9 .hi-icon {
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

.hi-icon-effect-9 .hi-icon:after {
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 0 0 3px #fff;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}

/* Effect 9a */
.hi-icon-effect-9a .hi-icon:hover:after {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
  opacity: 0.5;
}

.hi-icon-effect-9a .hi-icon:hover {
  box-shadow: 0 0 0 6px white;
  color: #fff;
}

.hi-icon:hover svg path {
  stroke-width: 0.72px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #3e90cc;
}

body {
  background-color: #d1d5db;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes hamberger-rise {
  50% {
    transform: translateY(1vh);
  }
}
@keyframes hamberger-fall {
  50% {
    transform: translateY(-1vh);
  }
}
main.head header.header {
  position: fixed;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 86px;
  width: 100%;
  z-index: 2;
  background-color: #363c45;
}
main.head header.header .nav-hamberger {
  position: fixed;
  height: 8vh;
  width: 8vh;
  left: 1vh;
  top: 1.4vh;
  cursor: pointer;
}
main.head header.header .nav-hamberger-icon {
  position: fixed;
  left: 1vh;
  top: 4.8vh;
  height: 4px;
  width: 8vh;
  background-color: #929a9f;
}
main.head header.header .nav-hamberger-icon::before {
  content: "";
  position: fixed;
  left: 1vh;
  top: 2vh;
  height: 4px;
  width: 8vh;
  background-color: #929a9f;
  transition: all 0.3s ease-in-out;
}
main.head header.header .nav-hamberger-icon::after {
  content: "";
  position: fixed;
  left: 1vh;
  top: 8vh;
  height: 4px;
  width: 8vh;
  background-color: #929a9f;
  transition: all 0.3s ease-in-out;
}
main.head header.header .nav-hamberger-icon.open::before {
  animation-name: hamberger-fall;
  animation-duration: 0.45s;
}
main.head header.header .nav-hamberger-icon.open::after {
  animation-name: hamberger-rise;
  animation-duration: 0.45s;
}
main.head header.header .nav-hamberger-icon.close::before {
  position: fixed;
  animation-name: hamberger-rise;
  animation-duration: 0.45s;
}
main.head header.header .nav-hamberger-icon.close::after {
  animation-name: hamberger-fall;
  animation-duration: 0.45s;
}
main.head header.header .title {
  font-size: 1.2rem;
  align-self: center;
  cursor: default;
}
main.head .nav {
  position: relative;
  height: 385px;
  width: 100%;
  background-color: #3e90cc;
}
main.head .nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  list-style: none;
  height: 100%;
  width: 100%;
  padding: 1rem 0 1rem 0;
}
main.head .nav-items .nav-item {
  color: #a8adb1;
  font-size: 2.8rem;
  text-transform: uppercase;
  align-content: center;
}
main.head .nav-items .nav-item::after {
  content: "";
  display: block;
  position: relative;
  width: 0%;
  height: 3px;
  bottom: -3px;
  background-color: #a8adb1;
  transition-property: left, right;
  transition: all 0.2s ease-in-out;
}
main.head .nav-items .nav-item:hover::after {
  width: 100%;
  transition: all 0.2s ease-in-out;
}
main.head .nav.initial {
  position: fixed;
  top: -299px;
  z-index: 1;
  transition: all 0.45s ease-in-out;
}
main.head .nav.final {
  position: fixed;
  top: 86px;
  z-index: 1;
  transition: all 0.45s ease-in-out;
}
main.head .nav a {
  text-decoration: none;
}

/*# sourceMappingURL=contact.css.map */
